@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 11, 11, 11;
  --background-end-rgb: 11, 11, 11;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0B0B0B;
}
