@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0B0B0B] text-white font-sans;
    background-color: #0B0B0B;
  }
}

.glass-card {
  @apply bg-white/5 backdrop-blur-md border border-[#262626];
}
.glass-nav {
  @apply bg-[#0B0B0B]/80 backdrop-blur-xl border-b border-white/5;
}
